<div class="row">
    <div class="col-lg-12">
        <div id="submission_list_container" class="sead-smaller-font-size"></div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">

                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#information_feed">

                        <small>&#xA0;Information feed</small>

                    </a>

                </h4>
            </div>
            <div id="information_feed" class="panel-collapse collapse show">
                <div class="card-body">
                    <div id="latest_sites_container"></div>
                    <div id="information_feed_container"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title mb-0">

                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#documentation-list">

                        <small>&#xA0;Documentation &amp; Instructions</small>

                    </a>

                </h4>
            </div>
            <div id="documentation-list" class="panel-collapse collapse show">
                <div class="card-body">
                    <div id="documentation_container"></div>
                </div>
            </div>
        </div>
    </div>
</div>