<div class="panel-group" id="sample_group_accordion">
    <div class="card">
        <div class="card-header">
            <span id="sample_group_indicator_container"></span>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#sg_collapse">
                Sample group information
            </a>
        </div>
        <div id="sg_collapse" class="panel-collapse collapse show">
            <div class="card-body sead-smaller-font-size">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="sample_group_name">Sample group name&#xA0;(
                            <span id="sample_group_id"></span>)</label>
                        <br>
                        <span id="sample_group_name" class="form-control-sm"></span>
                    </div>
                    <div class="col-lg-4">
                        <label for="sampling_context">Sampling context</label>
                        <br>
                        <span id="sampling_context" class="form-control-sm"></span>
                    </div>
                    <div class="col-lg-4">
                        <label for="sampling_method">Sampling method</label>
                        <br>
                        <span id="sampling_method" class="form-control-sm"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>