
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="sead-fluid-container">
      <div class="navbar-header text-left" style="vertical-align: middle;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="images/logo_sead_nodash_y60_invert.jpg" width="42" height="40" class="pull-left" alt=""/><a class="navbar-brand" href="#">Clearing House</a>
      </div>
      <div class="collapse navbar-collapse pull-right">
        <ul class="nav navbar-nav">
          <li class="home-menu active"><a href="#">Home</a></li>
          <li id="open-users-button"><a href="#users">Users</a></li>         
          <li id="sign-out-button"><a href="#logout">Sign out&nbsp;<span id="login_user_name" class="active"></span></a></li>         
        </ul>
      </div>
    </div>
    </div>