<div class="row">
    
    <div class="col-md-12">
        <div id="submission_list_container">
          
        </div>          
    </div>
</div>
<br>
<div class="row">
    
    <div class="col-sm-6">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title row">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#information_feed">
                      <small>&nbsp;Information feed</small>
                  </a>
                </h4>
            </div>
            <div id="information_feed" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="latest_sites_container"></div>          
                    <div id="information_feed_container"></div>          
                </div>  
            </div>
        </div>
            
    </div>

    <div class="col-sm-6">
        
         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title row">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#documentation-list">
                      <small>&nbsp;Documentation &amp; Instructions</small>
                  </a>
                </h4>
            </div>
            <div id="documentation-list" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="documentation_container"></div>          
                </div>  
            </div>
        </div>       
    </div>
</div>
