<div class="panel-group" id="sample_accordion">
    <div class="card">
        <div class="card-header">
            <span id="sample_indicator_container"></span>
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#sample_collapse">
                Sample information
            </a>
        </div>
        <div id="sample_collapse" class="panel-collapse collapse show">
            <div class="card-body sead-smaller-font-size">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="sample_name">Sample name (ID
                            <span id="sample_id"></span>)</label>
                        <br>
                        <span id="sample_name" class="form-control-sm"></span>
                    </div>
                    <div class="col-lg-6">
                        <label for="sample_name_type">Sample name type</label>
                        <br>
                        <span id="sample_name_type" class="form-control-sm"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label for="date_sampled">Date sampled</label>
                        <br>
                        <span id="date_sampled" class="form-control-sm"></span>
                    </div>
                    <div class="col-lg-6">
                        <label for="type_name">Sample type</label>
                        <br>
                        <span id="type_name" class="form-control-sm"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>