
<!-- Note: data-parent changed from "#accordion" to "#accordion2" to allow non-mutual-exclusive toggling -->

<div class="panel-group" id="site_accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
     <h4 class="panel-title row">
       <span id="site_indicator_container" class="col-md-1"></span>
       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
           Site information
       </a>
     </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="row">
               <div class="col-md-4">
                   <label for="site_name">Site name&nbsp;(ID <span id="site_id"></span>)</label><br>
                   <span id="site_name" class="input-sm" ></span>
               </div>
               <div class="col-md-4">
                   <label for="national_site_identifier">Nat. site No:</label><br>
                   <span id="national_site_identifier" class="input-sm" ></span>
               </div>
               <div class="col-md-4">
                   <label for="altitude">Site preservation</label><br>
                   <span id="preservation_status_or_threat" class="input-sm"></span>
               </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="latitude_dd">Latitude</label><br>
                    <span id="latitude_dd" class="input-sm"></span>
                </div>
                <div class="col-md-3">
                    <label for="longitude_dd" >Longitude</label><br>
                    <span id="longitude_dd" class="input-sm"></span>
                </div>
                <div class="col-md-3">
                    <label for="altitude">Altitude</label><br>
                    <span id="altitude" class="input-sm"></span>
                </div>
                <div class="col-md-3">
                    <label for="location_accuracy">Location accuracy</label><br>
                    <span id="location_accuracy" class="input-sm"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="site_description">Description</label><br>
                    <span id="site_description" class="input-sm"></span>
                </div>
            </div>
        </div>
    </div>

  </div>

<!--  <div id="site-locations-container" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Locations
        </a><span id="site_locations_generic_indicator_container" class="close"></span>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div id="site_locations_table_container" class="panel-body">
      </div>
    </div>
  </div>

  <div id="site-references-container" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          References
        </a><span id="site_references_generic_indicator_container" class="close"></span>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div id="site_references_table_container" class="panel-body">
      </div>
    </div>
  </div>

  <div id="site-images-container" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          Images
        </a><span id="site_images_generic_indicator_container" class="close"></span>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div id="images_table_container" class="panel-body">
      </div>
    </div>
  </div>

  <div id="site-natgridrefs-container" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          Nat. grid references
        </a><span id="site_natgridrefs_generic_indicator_container" class="close"></span>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div id="site_natgridrefs_table_container" class="panel-body">
      </div>
    </div>
  </div>-->

</div>
