<div class="fill-height">
    <div class="row bottom-buffer">
        <div class="col-md-4">
            <div id="button_tree_slider" style="display: inline-block; cursor: pointer">
                <img src="images/three-bar.png" alt="">
            </div>
            <div id="button-accept-submission" class="btn btn-primary btn-sm" style="display: inline-block;">Accept</div>
            <div id="button-reject-submission" class="btn btn-primary btn-sm" style="display: inline-block">Reject</div>
        </div>
        <div class="col-md-8">
            <div id="reject-cause-list-label" class="danger" style="display: inline-block;"></div>
            <div id="submission_rejects_container" style="display: inline-block;"></div>
            <div id="button-add-reject-cause" class="btn btn-primary btn-sm"  style="display: inline-block;">Add reject cause</div>
        </div>
    </div>
    <div class="row fill-height">
        <div class="col-md-4 fill-height" id="submission_navigation_tree">
            <div id="submission_navigation_tree_container" class="fill-height">NAVIGATION TREE GOES HERE</div>
        </div>
        <div class="col-md-8 fill-height" id="submission_navigation_viewport">
            <div id="data_container"></div>
        </div>
        <div id="reject_modal_view_container"></div>
    </div>
</div>