<div class="fill-height">
    <div class="row bottom-buffer">
        <div class="col-sm-12">
            <span id="button_tree_slider" style="cursor: pointer"> <!--data-toggle="collapse" data-target="#submission_navigation_tree"-->
                <img src="images/three-bar.png" alt=""/>
            &nbsp;&nbsp;</span>
            <div id="button-accept-submission" class="btn btn-primary btn-sm">Accept</div>
            <div id="button-reject-submission" class="btn btn-primary btn-sm">Reject</div>&nbsp;&nbsp;
            <span id="reject-cause-list-label" class="danger"></span>&nbsp;<span id="submission_rejects_container" class="form-inline"></span>
            <div id="button-add-reject-cause" class="btn btn-primary btn-sm">Add reject cause</div>&nbsp;&nbsp;
        </div>
    </div>

    <div class="row fill-height">

        <div class="col-sm-4 fill-height" id="submission_navigation_tree">
            <div id="submission_navigation_tree_container" class="fill-height">
                NAVIGATION TREE GOES HERE
            </div>        
        </div>

        <div class="col-sm-8 fill-height" id="submission_navigation_viewport">
            <div id="data_container"></div>          
        </div>

        <div id="reject_modal_view_container"></div>

    </div>
</div>
